/* Load fonts from google font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

*:not(.fa) {
    font-family: 'Montserrat', sans-serif !important; /* Set every text besides fontawesome fonts to "Monsterrat" */
}

body {
    overflow: hidden; /* Hides the scrollbars */
}

#particles-js canvas{
    position: fixed; /* Makes sure the element is always where it's styled, even when scrolling on the page */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001523+0,000000+100 */
    /* Gives the background an gradient besides the "stars" */
    background: #001a3f !important;
    background: -moz-radial-gradient(center, ellipse cover, #001a3f 0%, #000000 100%) !important;
    background: -webkit-radial-gradient(center, ellipse cover, #001a3f 0%,#000000 100%) !important;
    background: radial-gradient(ellipse at center, #001a3f 0%,#000000 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a3f', endColorstr='#000000',GradientType=1 ) !important;
}

#title {
  color: white;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  width: 100%;
  height: 100px;
  font-family: 'Bungee Inline', cursive !important;
}

#subTitle {
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

#solarSystemControls {
    color: white;
    font-size: 2.5em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -175px;
}

#solarSystemControls .btn {
    padding: 5px 20px;
    margin: 5px;
}

#spaceContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Makes it possible to have an "3d" effect where objects can hide behind others */
    transform: rotateX(75deg); /* tilt the shole space container 75 degreed forward */
}

.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
  transform-style: preserve-3d; /* Makes it possible to have an "3d" effect where objects can hide behind others */
  animation-iteration-count: infinite; /* Makes sure that our animation is running forever */
  animation-timing-function: linear; /* Specifies the speed curve of an animation  */
  cursor: pointer; /* Set the cursor to pointer (the pointing hand) when the mouse is over the element */
  pointer-events: all; /* Makes the planets clickable again, because the parent isn't clickable */
}

.planetShadow{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 9999999;
  animation-name: planetShadow; /* The name of the animation running the shadow on the planets */
  animation-iteration-count: infinite; /* Makes sure that our animation is running forever */
  animation-timing-function: ease-in-out; /* Specifies the speed curve of an animation  */
}

#saturnShadow{
  width: 0.58em;
  height: 0.58em;
  z-index: 999999;
  left: 0.205em !important; /* the !important makes it so that we can override another style, if it makes any issues */
  top: 0.05em !important; /* the !important makes it so that we can override another style, if it makes any issues */
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10%;
  border-radius: 100%;
  z-index: 9999999;
  animation-name: planetShadow; /* The name of the animation running the shadow on the planets */
  animation-iteration-count: infinite; /* Makes sure that our animation is running forever */
  animation-timing-function: ease-in-out; /* Specifies the speed curve of an animation  */
  pointer-events: none; /* Makes the shadow of saturn not clickable */
}


.planet img{
  width: 100%;
  position: absolute;
}

.pos { /* Fixes the position of the planet so that it looks normal when rotating instead of lying down */
  position: absolute;
  transform-style: preserve-3d; /* Makes it possible to have an "3d" effect where objects can hide behind others */
  animation-name: invert; /* The name of the animation running the shadow on the planets */
  animation-iteration-count: infinite; /* Makes sure that our animation is running forever */
  animation-timing-function: linear; /* Specifies the speed curve of an animation  */
}

.planetName {
  color: white;
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px !important; /* the !important makes it so that we can override another style, if it makes any issues */
  margin-top: 115%;
  transition: all 150ms ease-in-out; /* Animates changes made e.g. when hovering */
}

.planet:hover .planetName { /* Make changes to .planetName when .planet is hovered */
    font-size: 20px !important; /* the !important makes it so that we can override another style, if it makes any issues */
}

#saturn .planetName {
    margin-top: 70%;
}

#sun .planetName {
    margin-top: 105%;
}

#sun, #orbit1, #orbit2, #orbit3, #orbit4, #orbit5, #orbit6, #orbit7, #orbit8, #orbit9{ /* Target all of the orbits */
  transition: all 200ms ease-in-out; /* Make changes to .planetName when .planet is hovered */
}

.pos{
  left: 50%;
  top: -1px;
}

#sun {
  font-size: 20em;
  transform: rotateX(-75deg); /* tilt the shole space container 75 degreed backwards, so the sun isn't laying down */
}

.planet:not(#sun){
  left:0%;
  top: 50%;
}

.planetOrbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation-name: planetOrbit; /* The name of the animation running the shadow on the planets */
  animation-iteration-count: infinite; /* Makes sure that our animation is running forever */
  animation-timing-function: linear; /* Specifies the speed curve of an animation  */
  transform-style: preserve-3d; /* Makes it possible to have an "3d" effect where objects can hide behind others */
  pointer-events: none; /* Makes the orbit not clickable */
}


/*
  Sets the sizes of the different orbits
  By using the em units we can manage the sizes a bit better based on our font size.
  1em is equal to 1 * font-size
*/
#orbit1 {
  font-size: 2em;
  width: 15em;
  height: 15em;
  margin-top: -7.5em;
  margin-left: -7.5em;
}

#orbit2 {
  font-size: 4em;
  width: 9.5em;
  height: 9.5em;
  margin-top: -4.75em;
  margin-left: -4.75em;
}

#orbit3 {
  font-size: 4.5em;
  width: 10.75em;
  height: 10.75em;
  margin-top: -5.5em;
  margin-left: -5.5em;
}

#orbit4 {
  font-size: 3em;
  width: 20em;
  height: 20em;
  margin-top: -10em;
  margin-left: -10em;
}

#orbit5 {
  font-size: 8em;
  width: 9.5em;
  height: 9.5em;
  margin-top: -4.75em;
  margin-left: -4.75em;
}

#orbit6 {
  font-size: 12em;
  width: 8em;
  height: 8em;
  margin-top: -4em;
  margin-left: -4em;
}

#orbit7 {
  font-size: 5em;
  width: 22.5em;
  height: 22.5em;
  margin-top: -11.25em;
  margin-left: -11.25em;
}

#orbit8 {
  font-size: 5em;
  width: 25em;
  height: 25em;
  margin-top: -12.5em;
  margin-left: -12.5em;
}

#orbit9 {
  font-size: 1.5em;
  width: 90em;
  height: 90em;
  margin-top: -45em;
  margin-left: -45em;
}


/*
  Set the individual times it takes
  for each planet to do one rotation around the sun
*/
#orbit1, #orbit1 .pos, #mercury .planetShadow {
  animation-duration: 3s;
}

#orbit2, #orbit2 .pos, #venus .planetShadow {
  animation-duration: 7s;
}

#orbit3, #orbit3 .pos, #earth .planetShadow {
  animation-duration: 12s;
}

#orbit4, #orbit4 .pos, #mars .planetShadow {
  animation-duration: 23s;
}

#orbit5, #orbit5 .pos, #jupiter .planetShadow {
  animation-duration: 142s;
}

#orbit6, #orbit6 .pos, #saturnShadow {
  animation-duration: 353s;
}

#orbit7, #orbit7 .pos, #uranus .planetShadow {
  animation-duration: 1008s;
}

#orbit8, #orbit8 .pos, #neptune .planetShadow {
  animation-duration: 1977s;
}

#orbit9, #orbit9 .pos, #pluto .planetShadow {
  animation-duration: 3500s;
}



#siteText {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 15px 5px 15px 15px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    width: 33%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 25px;
    height: 150px;
    overflow: auto;
    font-size: 0.9em;
    z-index: 99999;
}


#responsivePlanetsContainer {
    width: 100%;
    display: none;
}

.responsivePlanet img {
    width: 100%;
}

.responsivePlanet {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 150ms ease-in-out; /* Animates changes made e.g. when hovering */
}

.responsivePlanetName {
    color: white;
    font-size: 2.3em;
    font-weight: 600;
    text-align: center;
}

#saturnResponsive img {
    width: 150% !important; /* the !important makes it so that we can override another style, if it makes any issues */
    margin-left: -23%;
}

.responsivePlanet:hover {
    width: 55%;
}


.pauseAnimation{
  animation-play-state: paused; /* Pauses any animation on an element where this class is added */
}

/*
  If the screen size if below 1000px
  the following styles will become active,
  and makes the page abit more friendly to smaller screens
*/
@media only screen and (max-width: 1000px) {
  body{
    overflow: auto; /* Shows the scrollbars if the content of the page is bigger than the screen */
  }

  #spaceContainer {
    display: none; /* Hide the solar system */
  }

  #title {
    height: auto !important; /* the !important makes it so that we can override another style, if it makes any issues */
    margin-bottom: 0px;
  }

  #particles-js canvas{
      position: fixed; /* Makes sure the element is always where it's styled, even when scrolling on the page */
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
  }

  #siteText{
    display: block;
    position: unset;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 75%;
    height: auto;
    margin-top: 15px;
  }

  #responsivePlanetsContainer {
      display: block; /* Shows the responsive vertical planet menu */
  }

  #solarSystemControls{
    display: none; /* Hide the solar system play and pause buttons */
  }
}

/*
  If the screen size if below 1919px
  the following styles will become active,
  and makes the page abit more friendly to smaller screens
*/

@media only screen and (max-width: 1919px) {
  #sun {
    font-size: 15em;
  }

  #orbit1 {
    font-size: 1.5em;
  }

  #orbit2 {
    font-size: 3.5em;
  }

  #orbit3 {
    font-size: 3em;
  }

  #orbit4 {
    font-size: 2.5em;
  }

  #orbit5 {
    font-size: 7em;
  }

  #orbit6 {
    font-size: 10em;
  }

  #orbit7 {
    font-size: 4.2em;
  }

  #orbit8 {
    font-size: 4.3em;
  }

  #orbit9 {
    font-size: 1.3em;
  }
}

/*
  If the screen size if below 1660px
  the following styles will become active,
  and makes the page abit more friendly to smaller screens
*/
@media only screen and (max-width: 1660px) {
  #sun {
    font-size: 11em;
  }

  #orbit1 {
    font-size: 1em;
  }

  #orbit2 {
    font-size: 2.2em;
  }

  #orbit3 {
    font-size: 2.5em;
  }

  #orbit4 {
    font-size: 1.8em;
  }

  #orbit5 {
    font-size: 4.8em;
  }

  #orbit6 {
    font-size: 7.4em;
  }

  #orbit7 {
    font-size: 3.2em;
  }

  #orbit8 {
    font-size: 3.4em;
  }

  #orbit9 {
    font-size: 1.05em;
  }
}

/*
  If the screen size if below 1345px
  the following styles will become active,
  and makes the page abit more friendly to smaller screens
*/

@media only screen and (max-width: 1345px) {
  #sun {
    font-size: 7em;
  }

  #orbit1 {
    font-size: 0.7em;
  }

  #orbit2 {
    font-size: 1.6em;
  }

  #orbit3 {
    font-size: 1.9em;
  }

  #orbit4 {
    font-size: 1.4em;
  }

  #orbit5 {
    font-size: 3.7em;
  }

  #orbit6 {
    font-size: 5.6em;
  }

  #orbit7 {
    font-size: 2.4em;
  }

  #orbit8 {
    font-size: 2.5em;
  }

  #orbit9 {
    font-size: 0.785em;
  }
}

/*  The animation keyframes for our individual animations */

@keyframes planetOrbit { /* Rotate the orbit along with all children (planets) */
  0%   { transform: rotateZ(0deg); }
  100% { transform: rotateZ(-360deg); }
}

@keyframes planetShadow { /* Make the shadow on the planets so it gives the planet a bit more "3d feel" using box-shadow */
  0% { box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.5); }
  25% { box-shadow: inset 0.3em 0 0.15em rgba(0, 0, 0, 0.5); }
  50% { box-shadow: inset 1em -0.4em 0.3em rgba(0, 0, 0, 0.5); }
  50.01% { box-shadow: inset -1em -0.4em 0.3em rgba(0, 0, 0, 0.5); }
  75% { box-shadow: inset -0.3em 0 0.15em rgba(0, 0, 0, 0.5); }
  100% { box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.5); }
}

@keyframes invert { /* Puts the planets in upright position so the planets don't lie down when rotating around the sun */
  0%   { transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }
  100% { transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); }
}
